form(action="/add-new-book" method="POST")
  input(name="title" type="text")
  input(name="description" type="text")
  button(type="submit") Thêm sách vào thư viện
  
ul
  each book in books
    li
      span=book.title
      a(href="/listbook/"+book.title+"/update-title") Sửa tên sách
      a(href="/listbook/"+book.title+"/delete") Xóa